* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
}

a {
    text-decoration: none;
}

button,i,
svg:hover {
    cursor: pointer;
}


.home {
    display: flex;
    column-gap: 30px;
}

/* sidebar css  */
.sidebar {
    position: sticky;
    top: 0px;
    background: white;
    width: 268px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
    height: 100vh;
}

.SideBar-Toggle {
    display: none;
    font-size: 20px;
}

.logo {
    max-width: 191px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    margin: 11px 0px;

}

.sidebarBottom {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderBtn {
    border-radius: 8px;
    background: #52A81B;
    padding: 7px 20px;
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 8px;
    margin: 11px 27px;
}

.orderBtn:hover {
    cursor: pointer;
    background-color: rgb(20, 113, 20);
}

.BTN:hover {
    cursor: pointer;
    background-color: rgb(20, 113, 20);
}

.orderBtn button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sidebarBottom hr {
    width: 100%;

}

.sidebarFooter hr {
    width: 100%;
    margin-bottom: -50px;

}

.sidebar-nav {
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* profile dropdown ccc  */
.userProfile {
    position: relative;
}

#userProfile {
    width: 150%;
}

#userProfile:hover .profileDropDown {
    display: block;
    z-index: 1;
}

.profileDropDown {
    display: none;
    /* display: flex; */
    position: absolute;
    background-color: white;
    top: 130px;
    left: 211px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 120px;
    justify-content: center;


}

.profileDropDown ul li {
    list-style: none;
    width: 100%;
    text-align: center;

}

/* .profileDropDown ul li:hover{
    background-color: rgb(172, 170, 170);
    color: white;
} */
.profileDropDown ul li a {
    color: black;
    /* padding: 1px 10px; */
    width: 100%;

}

.profileDropDown ul li:hover {
    cursor: pointer;
}

.profileDropDown ul {
    display: flex;
    flex-direction: column;
}




.sidebar-nav ul li {
    display: flex;
    align-items: center;
    padding: 13px 0px;
    column-gap: 9px;
}

.sidebar-nav ul li:hover {
    cursor: pointer;
}

.sidebarNote {
    background-color: rgb(197, 235, 197);
    color: black;
    padding: 5px;
    text-align: center;
    max-width: 180px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.sidebarNote h1 {
    font-size: 16px;
    font-weight: 600;
}

.sidebarNote p {
    font-size: 16px;
}

.sidebarNote span {
    font-size: 12px;
    text-decoration: underline;
}

/* main section  */
.home-navbar {
    padding-top: 16px;
    width: 100%;
    margin: 0px 46px;
}

.navTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;

}

.new-orderBtn {
    border-radius: 8px;
    background: #52A81B;
    padding: 5px;
    /* width: 214px; */
    display: flex;
    align-items: center;
    column-gap: 8px;

}

.new-orderBtn button {
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.navTop p {
    color: #000;
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
}

.menuLeft ul {
    display: flex;
    column-gap: 58px;

}

.menuLeft ul li {
    list-style: none;
    cursor: pointer;

}

.menuLeft ul li {
    position: relative;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Add this style for the active menu item */
.menuLeft ul li.active {
    text-decoration: underline;
    text-underline-offset: 21px;
    text-decoration-color: green;
}

.menuLeft ul li span {
    position: absolute;
    top: -13px;
    border: 1px solid black;
    border-radius: 50%;
    /* padding: 5px; */
    font-size: 12px;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -10px;

}

.menuRight .search input {
    border: none;
    outline: none;
}

.menuRight .search {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FEFEFE;
    padding: 7px 15px;
    column-gap: 10px;
}

.home-navbar hr {
    margin-top: 10px;
}

.notice {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 9px 46px;
    border-radius: 5px;
    background: #FFF;

}

.notice p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.PlaceOrder {
    width: 100%;
    height: 366px;
    border-radius: 5px;
    /* background: #FFF; */
    margin-top: 12px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; */
    /* padding-bottom: 35px; */
    margin-bottom: 100px;
}

.midSect {
    width: 100%;
    height: 366px;
    border-radius: 5px;
    background: #FFF;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 35px;
}

.placeOrderBtns {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 28px;
   
}


/* place order section  */

.place-order {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    column-gap: 60px;
    max-width: 1200px;
    flex: 1;
}

.placeOrderNav {
    text-align: center;

}

.placeOrderNav h1 {
    color: #000;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.placeOrderNav ul li {
    list-style: none;
    display: flex;
    column-gap: 10px;
}

.placeOrderNav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.placeOrderNav ul li {
    display: flex;
}

.placeorderComponents {
    display: flex;
    margin-top: 20px;
    column-gap: 90px;
    max-width: 1300px;
    flex-wrap: wrap;
}

.cardlefr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 16px;
    max-width: 453px;
    background-color: white;
    padding: 21px 42px;
    border-radius: 10px;
    background: #FFF;
}


.hidden {
    display: none;
}

/* draft component  */
.cardleftDraft {
    padding: 10 0px;
    justify-content: flex-start;
}

.cardleftDraft p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.draftInput {
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    outline: none;
    padding: 10px 21px;
    max-width: 335px;
}

#myTextArea {
    max-width: 335px;
    font-size: 13px;
    padding: 10px;
    outline: none;

}

.draftCardBottom {
    display: flex;
    column-gap: 5px;
}

.draftCard {
    border-radius: 5px;
    background: #F6F6F6;
    padding: 5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 10px;
    max-width: 165px;
    margin-bottom: 20px;

    /* column-gap: 5px; */
}

.draftCard button {
    border-radius: 3px;
    background: #52A81B;
    border: none;
    padding: 3px 16px;
    margin-bottom: -20px;
    color: white;
}

.draftCard h1 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.draftCard p {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.draftCard h2 {
    color: #000;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.placeOrderCards {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 90px;

}

.selectDropdown {
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    /* padding: 7px 44px; */
    padding: 10px 30px 10px 10px;
}


.orderDetails {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    height: 500px;
    column-gap: 90px;
    margin-bottom: 200px;

}


.cardLeftInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #BFBFBF;
    padding: 10px 21px;
    background-color: white;
    width: 335px;

}

.cardLeftInput svg {
    margin-top: -10px;
}

.cardLeftInput input {
    border: none;
    outline: none;
}


.calulation {
    display: flex;
    column-gap: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.calenderMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    column-gap: 10px;
}
.calender-mid{
    margin: 10px 0px;
}
#datepicker{
    padding: 4px;
}
#timepicker{
    padding: 3px;
    width: 120px;
}
.calenderMain input:hover{
    cursor: pointer;
}

.calculate-left {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 5px;
}

.calculate-left input {
    width: 33px;
    height: 26px;
    margin: 0 auto;
    display: block;
    text-align: center;

}

.cardLeftInput {
    position: relative;
    /* display: inline-block; */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.card-info {
    display: flex;
    justify-content: space-between;
    max-width: 335px;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #BFBFBF;
}

.nextBtn button {
    border-radius: 8px;
    padding: 7px 20px;
    background: #52A81B;
    color: white;
    border: none;
    outline: none;
    float: right;
    font-size: 16px;
}

.nextPrevious {
    display: flex;
    justify-content: space-between;
}

.card-info p {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cardRight {
    max-width: 343px;
    height: fit-content;
    border-radius: 8px;
    background: #FFF;
    padding: 21px 31px;
}

.cardRightTop {
    display: flex;
    column-gap: 7px;
    align-items: center;
}

.cardRightTop hr {
    width: 64px;
    height: 1px;
}

.cardRightMid {
    display: flex;
    justify-content: space-between;
}

.cardRightMid ul li {
    list-style: none;

}

.cardRightMidContent ul li {
    margin-top: 10px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.onerightCardContent{
    display: flex;
    align-content: center;
    justify-content: space-between;
    /* background-color: red; */
    width: 250px;
    margin-top: 10px;

}

.cardRightBottom {
    margin-top: 20px;
}

.cardRightBotFot {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cardRightBotFot p {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* review cards  */
.reviewOrder {
    /* margin-top: 28px; */
    border-radius: 10px;
    width: 453px;
    padding: 10px 46px;
    background-color: white;


}

.reviewOrderTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewOrderTop span {
    font-weight: 600;
}

.reviewOrderTitle p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.reviewOrderMidDec {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 8px;
}

.reviewOrderMidOne h1 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reviewOrderMidOne {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.reviewOrderMidOne p {
    border-radius: 3px;
    border: 1px solid #BFBFBF;
    padding: 3px 35px;
    font-size: 15px;
    width: 208px;

}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 12px 0px;
}

.instructions p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footerBTNs {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 10px;
}

.footerBTNs button {
    border-radius: 8px;
    background: #52A81B;
    border: none;
    padding: 7px 20px;
    color: white;
}

.reviewOrderSection {
    display: flex;
    column-gap: 90px;
    margin-top: 18px;
    max-width: 1300px;
    justify-content: space-between;
}

.apply {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.apply input {
    border-radius: 5px;
    border: 1px solid #CDCDCD;


}

#search input {
    padding: 3px 7px;
}

.apply button {
    border-radius: 2px;
    background: #52A81B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
    padding: 4px 8px;
}

#totalPay {
    margin-top: 25px;
}

.cardRightBotFot p:last-child {
    padding-right: 65px;
}

.checkoutBTN {
    display: flex;
    align-content: center;
    justify-content: center;
}

#checkoutBTN {
    border-radius: 10px;
    background: #52A81B;
    padding: 10px 25px;
    color: white;
    border: none;
    text-align: center;
}

.secureBy {
    display: flex;
    margin-top: 13px;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.secureBy hr {
    width: 64px;
    height: 1px;
    background: #BFBFBF;
}

.secureBy p {
    font-weight: 600;
}

.payCards {
    border-radius: 7.142px;
    background: #EEFFE3;
    padding: 10px 5px;
    margin-top: 12px;
}

.orderCompCard {
    /* background-color: red; */
    width: 453px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background: #FFF;
    padding: 15px 40px;
    row-gap: 10px;
}

.completeOrder {
    margin-top: 30px;
    margin-bottom: 40px;
}

.completeOrder p {
    font-size: 30px;
    text-align: center;
}

.orderCompCard h1 {
    font-size: 16px;
    text-align: center;

}

.orderCompCardDetail {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;

}

.orderCompCardDetail ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.orderCompCardDetail ul li {
    list-style: none;
}

.orderOnesect {
    display: flex;
    justify-content: space-between;
}

.orderOnesect p {
    font-size: 16px;
}

.orderCompCard h1 {
    margin-top: 10px;
}

.orderMid {
    display: flex;
    justify-content: space-between;
}

.orderMid ul li {
    list-style: none;
}

.orderMid ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.fileStatus {
    margin-top: 10px;
}

.file {
    display: flex;
    justify-content: space-between;
}

.file ul li {
    list-style: none;

}

.file ul {
    display: flex;
    row-gap: 10px;
}

.orderInstruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.completedOrderContents {
    display: flex;
    column-gap: 90px;
    margin-top: 30px;
}

.paymentOption {
    border: 1px solid black;
    padding: 20px 30px;
    height: fit-content;
}


/* congratulation page css  */
.congratPage {
    /* background-color: red; */
    background-image: url(./assets//images/congrats.png);
    background-size: cover;

    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.congratulation {
    border-radius: 2px;
    background: #FFF;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.20);
    padding: 20px 118px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    row-gap: 10px;
    color: #52A81B;
}

.congratulation hr {
    width: 269.002px;
    height: 1px;
}

.congratulation h1 {
    font-size: 25px;
}

.congratulation h2 {
    font-size: 16px;
}

.congratMid {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100%;
    /* row-gap: 10px; */
}

.congratMid ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.congratMid ul li {
    list-style: none;
}

.congratulation button {
    border-radius: 3px;
    background: #52A81B;
    border: none;
    color: white;
    padding: 7px 20px;
    margin: 20px 0px;
}

